:root {
    --color-text-dark: #463D3F;
    --color-text-li-hover: #888888;
    --color-text-light: #FFFFFF;
    --color-primary: #FFCDB3;
    --color-accent: #B5828C;
}

/*
 * Global containers
 */
body {
    text-align: center;

    font-size: 14px;
    font-family: "Lexend Deca", "Helvetica Neue", Verdana, Arial, sans-serif;
    color: var(--color-text-dark);
}

/*
 * Navbar.
 */

.lead {
    font-size: 1.5em;
}

.logo {
    height: 1.5em;
}

.banner {
    border-bottom: 1px solid var(--color-accent);
}

.banner li {
    padding: 5px 20px;
}

.banner a {
    text-decoration: none;
    color: inherit;
}

.banner a:visited {
    color: inherit;
}

.banner a:hover {
    color: var(--color-text-li-hover);
}

.post-list {
    min-width: 20rem;
}

.preview-title {
    margin: 0;
    width: 100%;
    font-size: 1em;
}

.preview-date {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 0px;
    font-size: 0.8em;
}

/*
 * Markdown stylesheet
 */

.markdown {}

.markdown h1 {
    font-size: 1.5em;
}

.markdown h2 {
    font-size: 1.2em;
}

.markdown h3 {
    font-size: 1em;
}

.markdown p {
    font-size: 1em;
}

.markdown a {
    color: #517e82;
}

.markdown blockquote {
    font-style: italic;
}

.markdown hr {
    border-color: var(--color-accent);
}

/* This is a hack to style a code block */
.language-undefined {
    padding: 10px;
    border: 1px solid var(--color-accent);
    border-radius: 10px;
    color: var(--color-text-dark);
}

.markdown img {
    max-width: 100%;
    max-height: 600px;
    border-radius: 10px;
}

.fishbowl {
    background-color: #ffffff;
}

.border-circle {
    width: 70%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
}